# Project exclude paths
/tanhua-app-server/target/
/tanhua-autoconfig/target/
/tanhua-commons/target/
/tanhua-dubbo/tanhua-dubbo-db/target/
/tanhua-dubbo/tanhua-dubbo-interface/target/
/tanhua-dubbo/tanhua-dubbo-mongo/target/
/tanhua-model/target/